.user {
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-color: mediumvioletred;
  background-image: url("/images/gplay.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: ghostwhite;
}

@media only screen and (min-width: 1024px) {
  .user {
    flex-basis: 40%;
    margin-top: 195px;
    padding-left: 10px;
    position: static;
    border-radius: 10px;
  }
}
