nav {
  height: 120px;
  background: none;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

.write {
  background: none;
  color: #ffffff;
  border: none;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: xx-large;
}

.arrow {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  align-content: flex-end;
}

.fa-angles-down {
  aspect-ratio: 1 / 1;
  color: red;
  animation: 600ms linear 0s infinite alternate up-down;
}

@keyframes up-down {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(5px);
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    position: fixed;
  }
}
