form {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
  padding-bottom: 10px;
}

label {
  flex-basis: 100%;
  text-align: bottom;
}

#tweet-text{
  resize: none;
  width: 100%;
  background: none;
  border: 1px;
  line-height: 30px;
  outline: none;
  font-weight: 600;
}

.top {
  border-bottom: solid;
  display: flex; 
  flex-direction: column;
  flex-basis: 100%;
  padding-bottom: 10px;
}

.bottom {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.compose-tweet {
  padding-top: 10px;


}

button {
  font-family: 'Bungee';
  border: none;
  background-color: mediumvioletred;
  color: #FFFFFF;
}

.counter {
  font-family: 'Bungee';
  color: graphite;
}

.max-char-limit {
  color: orangered;
  font-family: 'Bungee';
}

